@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model WebAppLab2Turma20161.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Meu Carrinho de Compras";
    CultureInfo us = new CultureInfo("pt-br");
}


<h3 class="text-center">
     <span><img src="~/Content/Images/shoping_cart.png" />Seu carrinho de compras:</span>
</h3>

<div id="update-message" class="text-info">
</div>
@if (Model.CartItems.Count==0)
{
    <a class="btn-danger" href="~/StoreFront/Index/1">Carrinho vazio... continuar comprando ---></a>
}
else
{
    <table class="table table-responsive table-bordered table-striped">
        <tr>
            <th>
                Produto
            </th>
            <th>
               Preço(Unidade)
            </th>
            <th>
                Quantidade
            </th>
            <th>Sub-total</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.ProdutoId">
                <td>
                    @Html.ActionLink(item.Produto.Nome, "Index", "Home", new {id = item.ProdutoId}, null)
                </td>
                <td>
                    @item.Produto.Preco
                </td>
                <td id="item-count-@item.ProdutoId">
                    @item.TotalItens
                </td>
                <td>
                    @((item.Produto.Preco * item.TotalItens).ToString("c",us))
                </td>
                <td>
                    <a href="" class="RemoveLink" data-id="@item.ProdutoId">
                        Remover do carrinho
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Total
            </td>
            <td></td>
            <td></td>
            <td id="cart-total" class="text-success">
                <b>@Model.CartTotal.ToString("C",us)</b>
            </td>
        </tr>
    </table>

    <p class="button">
        <a href="~/StoreFront/Index/1">Continuar comprando >> </a>
    </p>
    <p class="button">
        @Html.ActionLink("Finalizar pedido (Checkout) >> ", "AddressAndPayment", "Checkout")
    </p>
}




