@model WebAppLab2Turma20161.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes do Cliente</h4>
        </div>
        <div class="modal-body">


            <p>@Html.DisplayNameFor(model => model.ClienteID) : @Html.DisplayFor(model => model.ClienteID)</p>
            <p>@Html.DisplayNameFor(model => model.Nome) : @Html.DisplayFor(model => model.Nome)</p>
            <p>@Html.DisplayNameFor(model => model.DataNascimento) : @Html.DisplayFor(model => model.DataNascimento)</p>
            <p>@Html.DisplayNameFor(model => model.CPF) : @Html.DisplayFor(model => model.CPF)</p>
            <p>@Html.DisplayNameFor(model => model.Endereco) : @Html.DisplayFor(model => model.Endereco)</p>
            <p>@Html.DisplayNameFor(model => model.CEP) : @Html.DisplayFor(model => model.CEP)</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->