@model WebAppLab2Turma20161.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes do Pedido</h4>
        </div>
        <div class="modal-body">


            <p>@Html.DisplayNameFor(model => model.PedidoId) : @Html.DisplayFor(model => model.PedidoId)</p>
            <p>@Html.DisplayNameFor(model => model.Nome) : @Html.DisplayFor(model => model.Nome)</p>
            <p>@Html.DisplayNameFor(model => model.Sobrenome) : @Html.DisplayFor(model => model.Sobrenome)</p>
            <p>@Html.DisplayNameFor(model => model.Endereco) : @Html.DisplayFor(model => model.Endereco)</p>
            <p>@Html.DisplayNameFor(model => model.Cidade) : @Html.DisplayFor(model => model.Cidade)</p>
            <p>@Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(model => model.Estado)</p>
            <p>@Html.DisplayNameFor(model => model.CEP) : @Html.DisplayFor(model => model.CEP)</p>
            <p>@Html.DisplayNameFor(model => model.Pais) : @Html.DisplayFor(model => model.Pais)</p>
            <p>@Html.DisplayNameFor(model => model.Telefone) : @Html.DisplayFor(model => model.Telefone)</p>
            <p>@Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)</p>
            <p>@Html.DisplayNameFor(model => model.Total) : R$@Html.DisplayFor(model => model.Total)</p>
            <p>@Html.DisplayNameFor(model => model.DataRegistro) : @Html.DisplayFor(model => model.DataRegistro)</p>
           
            
            <div class="text-right"><a href="/Pedido/GerarPDF/@Model.PedidoId" class="btn btn-danger">Gerar Relatório em PDF</a></div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->