@model WebAppLab2Turma20161.Models.Pedido

@{
    ViewBag.Title = "Relatório do Pedido";
    Layout = "~/Views/Shared/_LayoutParaImpressao.cshtml";
}
<h2 class="text-center"><img src="~/Content/Images/logo.png" alt="" /></h2>
<h2 class="text-center"> <b>Informações do Pedido</b></h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <h4>
            <dl class="dl-horizontal">
                
                <p>@Html.DisplayNameFor(model => model.PedidoId) : @Html.DisplayFor(model => model.PedidoId)</p>
                <p>@Html.DisplayNameFor(model => model.Nome) : @Html.DisplayFor(model => model.Nome)</p>
                <p>@Html.DisplayNameFor(model => model.Sobrenome) : @Html.DisplayFor(model => model.Sobrenome)</p>
                <p>@Html.DisplayNameFor(model => model.Endereco) : @Html.DisplayFor(model => model.Endereco)</p>
                <p>@Html.DisplayNameFor(model => model.Cidade) : @Html.DisplayFor(model => model.Cidade)</p>
                <p>@Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(model => model.Estado)</p>
                <p>@Html.DisplayNameFor(model => model.CEP) : @Html.DisplayFor(model => model.CEP)</p>
                <p>@Html.DisplayNameFor(model => model.Pais) : @Html.DisplayFor(model => model.Pais)</p>
                <p>@Html.DisplayNameFor(model => model.Telefone) : @Html.DisplayFor(model => model.Telefone)</p>
                <p>@Html.DisplayNameFor(model => model.NomeUsuarioCliente) : @Html.DisplayFor(model => model.NomeUsuarioCliente)</p>
                <p>@Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)</p>
                <p>@Html.DisplayNameFor(model => model.Total) : R$@Html.DisplayFor(model => model.Total)</p>
                <p>@Html.DisplayNameFor(model => model.DataRegistro) : @Html.DisplayFor(model => model.DataRegistro)</p>
</h4>    
       
    </dl>
</div>

