@model WebAppLab2Turma20161.Models.Horario

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes do Horário</h4>
        </div>
        <div class="modal-body">


            <p>@Html.DisplayNameFor(model => model.HorarioID) : @Html.DisplayFor(model => model.HorarioID)</p>
            <p>@Html.DisplayNameFor(model => model.Cliente.Nome) : @Html.DisplayFor(model => model.Cliente.Nome)</p>
            <p>@Html.DisplayNameFor(model => model.Descricao) : @Html.DisplayFor(model => model.Descricao)</p>
            <p>@Html.DisplayNameFor(model => model.DataAtendimento) : @Html.DisplayFor(model => model.DataAtendimento)</p>
            <p>@Html.DisplayNameFor(model => model.HorarioAtendimento) : @Html.DisplayFor(model => model.HorarioAtendimento)</p>
         

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->